a {
    &.btn {
        cursor: pointer;

        button {
            cursor: pointer;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 0.84;
    padding: 0;


    svg {
        width: 18px;
        margin-right: 18px;
    }

    button {
        background-color: transparent;
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
    }

    &.default {
        background: #290007;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;

        @media (hover) {
            &:hover {
                background-color: #2e0008;
            }
        }

        &:active {
            background-color: #200006;
        }
    }

    &.transapent {
        background: #8E0726;
    }

    &.pink {
        background: #290007;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #fff;

        @media (hover) {
            &:hover {
                background: #fb8fa3;
            }
        }

        &:active {
            background: #fdbdc9;
        }
    }

    &.disabled {
        background: #F5B3BF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;

        @media (hover) {
            &:hover {
                background: #F5B3BF;
            }
        }

        &:active {
            background: #F5B3BF;
        }
    }
}