@font-face {
  font-family: "Gagalin";
  src: url("src/assets/fonts/Gagalin/Gagalin-Regular.otf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gagalin";
}

button {
  padding: 0;
  border: none !important;
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background: linear-gradient(151.87deg, #E01C3F 16.55%, #EA687F 50.06%, #A3132C 83.58%);
}

img,
svg {
  width: 100%;
}
